{% extends "GACoreBundle::layout.html.twig" %}

{% block title %}

  Annonce - {{ parent() }}

{% endblock %}

{% block core_body %}

	<div class='well'>
	<h3>{{annonce.titre}} - <a href="{{ path('ga_core_annonce_edit', {'id': annonce.id})}}"> modifier </a></h3>
	
	<div class='well'>
	
	<strong>Contenu : </strong>{{annonce.contenu}}
	
</div>

<h5><strong>Liste des liens</strong> - <a href="{{ path('ga_core_ressource_add_annonce_lien', {'id': annonce.id})}}">ajouter</a>:</h5>
{% for lien in annonce.liens%}
	
	<p> <a href="{{lien.url}}"> {{lien.nom}} </a> => 
	<a href="{{ path('ga_core_ressource_edit_annonce_lien', {'id': annonce.id, 'idR': lien.id})}} ">modifier</a> - 
	<a href="{{ path('ga_core_ressource_delete_annonce_lien', {'id': annonce.id, 'idR': lien.id})}}"> supprimer </a></p>

{% endfor %}

{% endblock %}