{% extends "GACoreBundle::layout.html.twig" %}

{% block title %}
  Supprimer une news - {{ parent() }}
{% endblock %}

{% block core_body %}

<h2>Supprimer une annonce</h2>

<p>Etes-vous certain de vouloir supprimer l'annonce "{{ annonce.titre }}" ?  </p>

	<form action="{{ path('ga_core_annonce_delete', {'id': annonce.id}) }}" method="post">
		<a href="{{ path('ga_core_annonce_id', {'id': annonce.id}) }}" class="btn btn-default">
    <i class="glyphicon glyphicon-chevron-left"></i>Retour à l'annonce</a>
  
		<input type="submit" value="Supprimer" class="btn btn-danger" />
    {{ form_rest(form) }}
	</form>

 
{% endblock %}