{% extends "GACoreBundle::layout.html.twig" %}

{% block title %}
  Présentation - {{ parent() }}
{% endblock %}

{% block core_body %}

  <h2>Annonce</h2>
	
	<div class="row">
	
		<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#annonceAdd">Ajouter</button>
		<div id="annonceAdd" class="collapse">
			<p> <a href="{{path('ga_core_annonce_add')}}" class="btn btn-info" role="button">Ajouter</a></p>
		</div>
	
	
	
	
		<button type="button" class="btn btn-warning" data-toggle="collapse" data-target="#annonceModif">Modifier</button>
		<div id="annonceModif" class="collapse">
		
			<ul class="list-group">
				{%for annonce in listeAnnonce%}
				<li class="list-group-item"><p> 
				<a href="{{ path('ga_core_annonce_edit', {'id': annonce.id})}}" class="btn btn-warning btn-xs" role="button">Modifier</a> 
				<strong> {{annonce.titre}} | {{annonce.auteur}} | {{annonce.dateCreat|date('d/m/Y')}}</strong></p></li>
				{%endfor%}
			</ul>
		
		</div>
	
	
	
	
		<button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#annonceDelete">Supprimer</button>
		
		
		<div id="annonceDelete" class="collapse">
			{%for annonce in listeAnnonce%}
			<p><a href="{{path('ga_core_annonce_delete', {'id': annonce.id})}}" class="btn btn-info" role="button">Supprimer</a>
			<strong> {{annonce.titre}} | {{annonce.auteur}} | {{annonce.dateCreat|date('d/m/Y')}}</strong></p></li>
			{%endfor%}
		</div>
	
		
	</div>
	
 <h2>Tournoi</h2>
 
 
 <h2>Agenda</h2>

{% endblock %}