			{% for cal in calendrier %}
			{% if loop.first %}
			<div class="well well-sm" >
					<h4>Prochains évenements</h4>		
			{% endif %}
						<div class="alert alert-success">
   						<p> <strong>{{cal.jourEvent}} {{ cal.dateEvent|date('d') }} {{cal.moisEvent}} {{ cal.dateEvent|date('Y') }}</strong></p>
  						<p> {{cal.nom}}</p>
 						</div>
			{% if loop.last %}
			</div>
			{% endif %}			
			{% endfor %}
