{% extends "GACoreBundle::layout.html.twig" %}

{% block title %}
  Agenda - {{ parent() }}
{% endblock %}

{% block core_body %}
	
		{% for cal in calendrier %}
		{% if loop.first %}
		<table class="table table-striped">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Date</th>
				 <th>Lieu</th>
        <th> Contact</th> 
				
      </tr>
    </thead>
    <tbody>
		{% endif %}
		
      <tr>
        <td> {{cal.nom}}</td>
				<td> {{cal.jourEvent}} {{ cal.dateEvent|date('d') }} {{cal.moisEvent}} {{ cal.dateEvent|date('Y - H:i') }}</td> 
				<td> {{cal.adresse}} - {{cal.ville}} </td>
        <td> {{cal.contactNom}} - {{cal.contactTph}} - <a mailto:"{{cal.contactNom}} -">{{cal.contactMail}}</a> </td> 
				
				</tr>
			
			{% if loop.last %}
			</tbody>
			</table>
			{% endif %}
			{% endfor %}
		<a href="{{ path('ga_core_agenda', {'pdf': true,'saison': saison})}}">Export en PDF</a>
{% endblock %}