<html>
	<head>
		<meta charset="utf-8">
	<!--	<meta name="viewport" content="width=device-width, initial-scale=1 -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	
	</head>
<body>
		
		{% for agenda in listeAgenda %}
		{% if loop.first %}
		<h2> Calendrier saison {{agenda.saison}}  </h2>
		<table class="table table-striped">
    <thead>
      <tr>
        <th><strong>Date</strong></th>
				<th>Nom</th>
        <th>Lieu</th>
        <th> Contact</th>
      </tr>
    </thead>
    <tbody>
		{% endif %}
      <tr>
       <td><strong> {{ agenda.dateEvent|date('d/m/Y - H:i') }}</strong></td>
			 <td> {{agenda.nom}}</td>
        <td> {{agenda.adresse}} - {{agenda.ville}} </td>
        <td> {{agenda.contactNom}} - {{agenda.contactTph}} - <a mailto:"{{agenda.contactNom}} -">{{agenda.contactMail}}</a> </td>
      </tr>
			{% if loop.last %}
			</tbody>
			</table>
			{% endif %}
    {% endfor %}

</body>
</htmL>