{% extends "GACoreBundle::layout.html.twig" %}

{% block title %}

  Tournoi -  admin - {{ parent() }}

{% endblock %}

{% block core_body %}

<div class="well">

  
		<h5><strong> Liste des tournois<a href="{{ path('ga_core_tournoi_add')}}"></strong> Ajouter</a> :</h5>
		
		{%for tournoi in listeTournoi%}
	
			<p>{{tournoi.nom}} - {{tournoi.saison}}  =><a href="{{ path('ga_core_tournoi_id_admin', {'id': tournoi.id})}}"> administrer </a>			</p>
				
		{%endfor%}
		
	</div>

{% endblock %}