{% extends "GACoreBundle::layout.html.twig" %}

{% block title %}

  Tournoi - {{ parent() }}

{% endblock %}

{% block core_body %}


<h3>{{tournoi.nom}} - <a href="{{ path('ga_core_tournoi_edit', {'id': tournoi.id})}}"> modifier le tournoi et les rondes</a></h3>
<p><a href="{{ path('ga_core_ressource_add_tournoi_resultat', {'id': tournoi.id})}}">ajouter un résultat général ou liste participant</a></p>
<p><a href="{{ path('ga_core_ressource_add_tournoi_affiche', {'id': tournoi.id})}}">ajouter une affiche </a></p>

<p>liste des ressources liés aux tournoi</p>
<br />


{% for ronde in tournoi.rondes %}

<h4>Ronde N° {{ronde.numero}}</h4>


<h5><strong> Liste des liens</strong> - <a href="{{ path('ga_core_ressource_add_ronde_lien', {'id': tournoi.id, 'num': ronde.numero})}}">ajouter un lien </a>:</h5>

{% for lien in ronde.liens%}
<p> <a href="{{lien.url}}"> {{lien.nom}} </a> => 
<a href="{{ path('ga_core_ressource_edit_ronde_lien', {'id': tournoi.id, 'num': ronde.id, 'idR': lien.id})}} ">modifier</a> - 
<a href="{{ path('ga_core_ressource_delete_ronde_lien', {'id': tournoi.id, 'num': ronde.id, 'idR': lien.id})}}"> supprimer </a></p>

<h5><strong> Liste des résultat</strong> - <a href="{{ path('ga_core_ressource_add_ronde_resultat', {'id': tournoi.id, 'num': ronde.numero})}}">ajouter un resultat </a>:</h5>

{% endfor %}


{% endfor %}

{% endblock %}