{% extends "GACoreBundle::layout.html.twig" %}

{% block title %}

  Tournoi- {{ parent() }}

{% endblock %}

{% block core_body %}


<h3>{{tournoi.nom}} - <a href="{{ path('ga_core_tournoi_edit', {'id': tournoi.id})}}"> modifier le tournoi et les rondes</a></h3>
<p><a href="{{ path('ga_core_ressource_add_tournoi', {'id': tournoi.id, 'type': 3, })}}">ajouter un résultat général ou liste participant</a></p>
<p><a href="{{ path('ga_core_ressource_add_tournoi', {'id': tournoi.id, 'type': 4, })}}">ajouter une affiche </a></p>

<p>liste des ressources liés aux tournoi</p>
<br />


{%for ronde in tournoi.rondes%}

<h4>Ronde N° {{ronde.numero}}</h4>


<h5><strong> Liste des liens</strong> - <a href="{{ path('ga_core_ressource_add_ronde', {'id': tournoi.id, 'num': ronde.numero, 'type': 1, })}}">ajouter un lien </a>:</h5>

{%for ressource in ronde.ressources%}
{%if ressource.type == 1 %}
<p> <a href="{{ressource.url}}"> {{ressource.nom}} </a> => 
<a href="{{ path('ga_core_ressource_edit_ronde', {'id': tournoi.id, 'num': ronde.numero, 'idR': ressource.id, 'type': 1,})}} ">modifier</a> - 
<a href="{{ path('ga_core_ressource_delete_ronde', {'id': tournoi.id, 'num': ronde.numero, 'idR': ressource.id, 'type': 1,})}}"> supprimer </a></p>
{%endif%}
{%endfor%}


<h5><strong>Liste des images:</strong> -  <a href="">ajouter une image</a>: </h5>

{%for ressource in ronde.ressources%}
{%if ressource.type == 2 %}
<p> <a href="{{ressource.url}}"> {{ressource.nom}} </a></p>
{%endif%}
{%endfor%}

<h5><strong>Liste des appariements ou résulats:</strong> - <a href="">ajouter un appariement ou un résultat </a>: </h5>

{%for ressource in ronde.ressources%}
{%if ressource.type == 3 %}
<p> <a href="{{ressource.url}}"> {{ressource.nom}} </a></p>
{%endif%}
{%endfor%}

<br />
{%endfor%}

{% endblock %}