{% extends "GACoreBundle::layout.html.twig" %}

{% block title %}

  Tournoi- {{ parent() }}

{% endblock %}

{% block core_body %}


  <h3>{{tournoi.nom}}</h3>
	


{%for ronde in tournoi.rondes%}

<h4>Ronde N° {{ronde.numero}}</h4>

{%if ressource[ressource.type] == 1%}
<h5> Liens </h5>

{%for ressource in ronde.ressources%}
<p> <a href="{{ressource.url}}"> {{ressource.nom}} </a></p>
{%endfor%}

{%endif%}




{%endfor%}

{% endblock %}