{% extends "GACoreBundle::layout.html.twig" %}

{% block title %}

  Tournoi - {{ parent() }}

{% endblock %}

{% block core_body %}

<div class ="well">

		<h3><strong>{{tournoi.nom}} </strong> - {{tournoi.saison}} </h3>
		{% if tournoi.contactNom is not null %}
		<p><strong><em> 	Responsable du tournoi:</strong>
		{% if tournoi.contactMail is not null %}<a href="mailto:{{tournoi.contactMail}}">{% endif %}
		{{tournoi.contactNom}}
		{% if tournoi.contactMail is not null %} </a> {% endif %}
		{% if tournoi.contactTph is not null %}
		- tph : {{tournoi.contactTph}}
		{% endif %}
		{% if tournoi.contactMail is not null %}
		- email : {{tournoi.contactMail}}
		{% endif %}
		</p></em>
		{% endif %}

		<div class="well">

				{% if tournoi.description is not null %}
				<div class="row">
				<h4><strong>Description</strong></h4>
				<p> {{tournoi.description|nl2br}} </p>
				<br />
				</div>
				{% endif %}
				
				
				

				<div class="row">
						{% for affiche in tournoi.affiches %}
						{% if loop.first %} 
								<div class="col-sm-3">
										<h4><strong>{% if loop.last %} {{affiche.nom}} {% else %}  Documents {% endif %} </strong> </h4> 							
						{% endif %}
										<p><a href="{{asset('uploads/affiche/'~affiche.chemin~'')}}">{{affiche.nom}}</a> </p>
						{% if loop.last %}
								</div>
						{% endif %}
						{% endfor %}
						
						{% for lien in tournoi.liens%}
						{% if loop.first %} 
								<div class="col-sm-3">
										<h4><strong> Liens </strong> </h4>				
						{% endif %}
										<p> <a href="{{lien.url}}"> {{lien.nom}} </a> </p>
						{% if loop.last %} 
								</div>
						{% endif %}
						{% endfor %}

						{% for resultat in tournoi.resultats %}
						{% if resultat.nom == "Liste participants" %}
								<div class="col-sm-3">
										<h4><strong> Liste des participants </strong></h4> 
										<p><a href="{{asset('uploads/resultat/'~resultat.chemin~'')}}">{{resultat.nom}}</a> </p>
								</div>
						{% endif %}	
						{% endfor %}

						{% for resultat in tournoi.resultats %}
						{% if resultat.nom == "Resultat" %}
								<div class="col-sm-3">
										<h4><strong> Résultat général</strong> </h4> 
										<p><a href="{{asset('uploads/resultat/'~resultat.chemin~'')}}">{{resultat.nom}}</a> </p>
								</div>
						{% endif %}	
						{% endfor %} 
						
				</div>
				<br />
<div class="row">
{% for image in tournoi.images%}
{% if loop.first %} 
<div class="row">
{% endif %}
<div class="col-sm-3">
<p><img   src="{{ asset('uploads/image/'~image.chemin~'') }}"  alt="{{ image.nom }}" /></p>
</div>
{% if loop.last %} 
</div>
<br /> 
{% endif %}
{% endfor %}
</div>
<br />
</div>

{% for ronde in tournoi.rondes %}
{% if loop.length > 1 %}
<div class="well">
<h4><strong>Ronde N° {{ronde.numero}}</strong></h4>

<p> la ronde 
{% if  date(ronde.dateEvent) < date() %}
a eu
{% else %}
aura
{% endif %}
 lieu le <strong> {{ronde.dateEvent|localizeddate('none', 'none', 'fr', null, 'EEEE d MMMM Y') }} </strong> - lieu:  <strong>
{% if ronde.adresse != "NC" %}
 {{ronde.adresse}} - 
 {% endif %}
  {{ronde.ville}} </strong></p>
 
						<div class="row">
						{% for resultat in ronde.resultats %}
						{% if resultat.nom == "Appariement" %}
								<div class="col-sm-4">
										<h5><strong> Appariement </strong></h5> 
										<p><a href="{{asset('uploads/resultat/'~resultat.chemin~'')}}">{{resultat.nom}}</a> </p>
								</div>
						{% endif %}	
						{% endfor %}
 
						{% for resultat in ronde.resultats %}
						{% if resultat.nom == "Resultat" %}
								<div class="col-sm-4">
										<h5><strong> Resultat </strong></h5> 
										<p><a href="{{asset('uploads/resultat/'~resultat.chemin~'')}}">{{resultat.nom}}</a> </p>
								</div>
						{% endif %}	
						{% endfor %}
						
						{% for lien in ronde.liens%}
						{% if loop.first %} 
								<div class="col-sm-3">
										<h5><strong> Liens </strong> </h5>				
						{% endif %}
										<p> <a href="{{lien.url}}"> {{lien.nom}} </a> </p>
						{% if loop.last %} 
								</div>
						{% endif %}
						{% endfor %}
						
						</div>
						<br />
 
 


{% for image in ronde.images%}
{% if loop.first %} 
<div class="row">
{% endif %}
<div class="col-sm-3">
<p><img   src="{{ asset('uploads/image/'~image.chemin~'') }}"  alt="{{ image.nom }}" /></p>
</div>
{% if loop.last %} 
</div>
<br /> 
{% endif %}
{% endfor %}

</div>
{% endif  %}
{% endfor %}

</div>
{% endblock %}